letters-to-numbers
retab
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.o

# Distribution / packaging
.Python
env/
build/
c11/bin/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Editor crud
*.swp

# Documentation
*.1.html
*.1.pdf
*.1

# Coinflip
coinflip/*.plot
coinflip/*.data
coinflip/*.png
coinflip/cf

# cpp
cpp/alpha
cpp/alt-tokens
cpp/auto
cpp/bad-macro
cpp/blobs
cpp/ch9vector
cpp/class-ident
cpp/combat3d
cpp/complex
cpp/constructor
cpp/cpp11a
cpp/cpp11b
cpp/cpp11c
cpp/cpp17demo
cpp/dice
cpp/drifter3
cpp/drifter3dice
cpp/enum
cpp/fibonacci
cpp/fileio-char
cpp/fileio-int
cpp/first-unique
cpp/functor
cpp/global-object
cpp/golden-ratio
cpp/gnome
cpp/increment
cpp/int-except
cpp/int-types
cpp/letter-counter
cpp/list-iterator
cpp/list-remove
cpp/loopvars
cpp/markov
cpp/markov2
cpp/messagequeue
cpp/momcombat
cpp/petshop
cpp/pointers
cpp/power
cpp/primes
cpp/pwgen
cpp/range
cpp/rawstring
cpp/readfile
cpp/read-write
cpp/redirect
cpp/replace-with-product
cpp/retirement
cpp/ringbuffer
cpp/robber
cpp/root
cpp/rtti
cpp/std-map
cpp/static-init
cpp/string-compare
cpp/string-wrap
cpp/strings
cpp/stringy
cpp/strtol
cpp/switch
cpp/tabcheck
cpp/table
cpp/text-to-numbers
cpp/trajectory
cpp/vector
cpp/wordfreq
cpp/wordfreq2

doc/html
doc/latex
doc/doxygen.log

misc/errno

# service
service/templated

# unix message queue
umq/client
umq/relay
umq/server
umq/iclient
umq/iserver
